.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.main {
	position: relative;
}
.title {
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 600;
	letter-spacing: 5px;
}
.title span {
	visibility: hidden;
}
.cup {
	position: absolute;
	z-index: 2;
	top: -20px;
	width: 100px;
	height: 100px;
	animation: cupAnim 10s ease-in-out infinite;
}

.cup::before {
	z-index: 1;
	content: '';
	display: block;
	width: 20px;
	height: 50px;
	background-color: #5f3017;
	opacity: 0;

	position: absolute;
	bottom: 40px;
	transform: rotate(-60deg);
	border-radius: 10px 100% 100% 100%;
	animation: coffeeAnim 10s ease-in-out infinite;
}

.cup__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.progress {
	position: absolute;
	top: 120px;
	left: 50%;
	width: 400px;
	height: 10px;
	transform: translateX(-50%);
}

.progress__area {
	position: relative;
	min-height: 50px;
	border: 4px solid;
	border-radius: 30px;
	overflow: hidden;
}

.progress__line {
	position: absolute;
	top: 50%;
	left: -115%;

	transform: translateY(-50%);

	width: 115%;
	height: 100%;
	background-color: #5f3017;

	animation: lineAnim 10s ease-out infinite;
}

.progress__line::before {
	content: '';
	display: block;
	width: 10%;
	height: 100%;
	background-color: #fff;

	position: absolute;
	top: 0;
	right: 0;
	border-bottom-left-radius: 100%;
}

.progress__sub {
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	text-align: center;

	animation: lineSub 1s linear infinite alternate;
}

@keyframes cupAnim {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	18% {
		transform: scale(1.05);
	}
	20% {
		opacity: 1;
		transform: scale(1);
	}
	30% {
		transform: scale(1) rotate(-85deg);
	}
	80% {
		transform: scale(1) rotate(-70deg);
	}
	90% {
		transform: scale(1) rotate(0);
	}
}

@keyframes lineAnim {
	0% {
		left: -115%;
	}
	24% {
		left: -115%;
	}
	100% {
		left: 0;
	}
}

@keyframes lineSub {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.2;
	}
}

@keyframes coffeeAnim {
	0% {
		height: 50px;
		bottom: 40px;
		left: -5px;
		transform: rotate(-60deg);
		opacity: 0;
	}
	25% {
		opacity: 0;
		height: 50px;
		bottom: 40px;
		left: -5px;
		transform: rotate(-60deg);
	}
	30% {
		opacity: 1;
		height: 160px;
		bottom: 5px;
		left: -30px;
		transform: rotate(-65deg);
	}
	60% {
		height: 140px;
		bottom: 0;
		left: -30px;
		transform: rotate(-75deg);
		opacity: 1;
	}
	85% {
		opacity: 0;
	}
	90% {
		height: 100px;
		opacity: 0;
		bottom: 0;
		left: -30px;
		transform: rotate(-85deg);
	}
	100% {
		opacity: 0;
		height: 50px;
		bottom: 40px;
		left: -5px;
		transform: rotate(-60deg);
	}
}

/* cup loaing */
.smoke-loader {
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	top: 50%;
}
.coffee-cup {
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}

.smoke-wave {
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 0px;
	left: 0px;
}

.smoke1 {
	width: 6px;
	height: 30px;
	float: left;
	margin-right: 6px;
	margin-left: 4px;
	border-radius: 3px;
}
.smoke1:before,
.smoke1:after {
	content: '';
	background: white;
	position: absolute;
	animation: load 0.9s infinite reverse ease-in-out;
	border-radius: 3px;
}
.smoke2 {
	width: 6px;
	height: 15px;
	float: left;
	margin-right: 6px;
	margin-left: 4px;
	border-radius: 3px;
}
.smoke2:before,
.smoke2:after {
	content: '';
	background: white;
	position: absolute;
	animation: load 0.6s infinite reverse ease-in-out;
	border-radius: 3px;
	margin-top: 5px;
}
.smoke3 {
	width: 6px;
	height: 30px;
	float: left;
	margin-right: 6px;
	margin-left: 4px;
	border-radius: 3px;
}
.smoke3:before,
.smoke3:after {
	content: '';
	background: white;
	position: absolute;
	animation: load 0.9s infinite 0.5s reverse ease-in-out;
	border-radius: 3px;
}

@keyframes load {
	0% {
		top: 0;
		height: 30px;
		width: 6px;
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		top: 29px;
		height: 15px;
		width: 6px;
		opacity: 0;
	}
}
