@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'LemonMilk';
	src: url('../fonts/LEMONMILK-Regular.otf');
}

@font-face {
	font-family: 'LemonMilk-Bold';
	src: url('../fonts/LEMONMILK-Bold.otf');
}

@font-face {
	font-family: 'Bebas-Neue';
	src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi';
	src: url('../fonts/Satoshi-Variable.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'Aventi';
	src: url('../fonts/Aventi-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gravity-Bold';
	src: url('../fonts/Gravity-Bold.otf');
}
@font-face {
	font-family: 'Gravity-Regular';
	src: url('../fonts/Gravity-Regular.otf');
}
@font-face {
	font-family: 'Gravity-Light';
	src: url('../fonts/Gravity-Light.otf');
}
@font-face {
	font-family: 'Gravity-Book';
	src: url('../fonts/Gravity-Book.otf');
}

@font-face {
	font-family: 'Gravity-Book';
	src: url('../fonts/Gravity-Book.otf');
}

@font-face {
	font-family: 'Prilly-Monly';
	src: url('../fonts/Prilly-Monly.otf');
}
