.footer {
	position: relative;
	width: 100%;
	/* background: #42210b; color */
	background: #cc9e7a; /*color*/
	min-height: 100px;
	display: flex;
	flex-direction: column;
}

.wave {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url('../images/wave.png');
	background-size: 1000px 100px;
}

.wave#wave1 {
	z-index: 10;
	opacity: 1;
	bottom: 0;
	animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
	z-index: 9;
	opacity: 0.5;
	bottom: 10px;
	animation: animate 4s linear infinite !important;
}

.wave#wave3 {
	z-index: 10;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
	z-index: 9;
	opacity: 0.7;
	bottom: 20px;
	animation: animate 3s linear infinite;
}

@keyframes animateWaves {
	0% {
		background-position-x: 1000px;
	}
	100% {
		background-positon-x: 0px;
	}
}

@keyframes animate {
	0% {
		background-position-x: -1000px;
	}
	100% {
		background-positon-x: 0px;
	}
}

.footer_container .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 2rem;
}

.footer_container .box-container .box i {
	/* font-size: 3rem; */
	color: var(--primary-color);
}

.footer_container .box-container .box h3 {
	font-size: 2.2rem;
	text-transform: capitalize;
	color: var(--white);
	padding: 1rem 0;
}

.footer_container.box-container .box p {
	font-size: 1.5rem;
	line-height: 2;
	color: var(--light-gray);
	padding: 1rem 0;
}

.footer_container .box-container .box .link {
	display: block;
	line-height: 2;
	padding: 0.5rem 0;
}

.footer_container .box-container .box .link:hover {
	color: var(--orange);
	text-decoration: underline;
}

.footer_container .credit {
	color: var(--white);
	text-align: center;
	text-transform: capitalize;
	margin-top: 3rem;
}

.footer_container .credit i {
	color: var(--orange);
}

.footer_container .credit span {
	color: var(--primary-color);
}

/* end */

/* media queries */

@media (max-width: 991px) {
	.footer_container {
		font-size: 55%;
	}
	.footer_container {
		padding: 2rem;
	}
}

@media (min-width: 768px) {
	.footer_container .box-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 2rem;
	}
}
